

	<div id="preloader">
      <div id="status">
         <img src="<%= asset_path('preloader.gif') %>" height="64" width="64" alt="">
      </div>
   </div>

   <!-- Intro Section
   ================================================== -->
   <section id="intro">

   	<header class="row">

			<!-- <div id="logo" >
				<a href="#" >
                 <img src="images/logo.png" alt="Zoon">
              </a>
			</div> -->

		   <!-- <nav id="nav-wrap">

		      <a class="menu-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
			   <a class="menu-btn" href="#" title="Hide navigation">Hide navigation</a>

		      <ul id="nav" class="nav">
		         <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
		         <li><a class="smoothscroll" href="#about">About</a></li>
			      <li><a class="smoothscroll" href="#location">Location</a></li>
		      </ul>

		   </nav> -->

   	</header> <!-- Header End -->

   	<div  id="main" class="row">

	   	<div class="twelve columns">

	   		<h1>Kärlek till Stockholm</h1>

	   		<p>Den 7 april 2017 drabbades Stockholm av ett attentat. Ge din kärlek till människorna i staden och anhöriga till de som drabbats.</p>

	   		<h5>Just nu har</h5>

	   		<div id="counter" class="cf">
	   			<span><%= User.all.count %> <em>personer har gett sin kärlek</em></span>
 					<!-- <span>12 <em>hours</em></span> -->
					<!-- <span>50 <em>minutes</em></span> -->
 					<!-- <span>33 <em>seconds</em></span> -->
   			</div>



           <p><%= link_to "Ge din kärlek", user_facebook_omniauth_authorize_path, class: "button full-width" %><br/><small></small></p>

	         <!-- <ul class="social">
	            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
	            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
	            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
	            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
	            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
	            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
	            <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul> -->

         </div>

      </div> <!-- main end -->

   </section> <!-- end intro section -->


   <section id="styles" style="padding: 90px 0 0px; background: #fff;">

      <div class="row section-head">

         <div class="six columns add-bottom">

            <h3>Pull Quotes</h3>

            <aside class="pull-quote">
    			   <blockquote>
    				   <p>It is a paradisematic country, in which roasted parts of
                  sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind
                  texts it is an almost unorthographic life One day however a small line of blind text by the name
                  of Lorem Ipsum decided to leave for the far World of Grammar.</p>
    				</blockquote>
    			</aside>

         </div>

         <div class="six columns add-bottom">

            <h3>Kärlek i ord</h3>

            <% User.all.each do |user| %>
              <blockquote>
       			    <p>
                  <% user.love if user.love.present? %>
                </p>
       				<cite>
       				   <a href="#"><%= user.name %></a>
       				</cite>
    			   </blockquote>
            <% end %>


         </div>

         <hr />

      </div> <!-- Row End-->


   <!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="copyright">
               <li>Bidra till källkoden på Github <a title="Styleshout" href="https://github.com/perjonsson/karleksthlm">perjonsson/karleksthlm</a></li>
            </ul>

         </div>

      </div>

      <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#intro"><i class="icon-up-open"></i></a></div>

   </footer> <!-- Footer End-->
